@model List<User>;
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/site.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Записная книжка</title>
    <a asp-area="" asp-controller="Home" asp-action="Index">Log out</a>
</head>
<body>
<link href="~/css/site.css" rel="stylesheet" />
<form asp-controller="Admin" asp-action="SearchUser" method="post">
    <div class="text">
        <input type="search" class="form-control" name="searchString" placeholder="Search...">
    </div>
    <div class="input">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
           
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                        <form asp-controller="Admin" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="del">Delete</button>
                        </form>
                        <br/>
                        <form asp-controller="Admin" asp-action="EditUser" method="post">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="edit">Edit</button>
                        </form>
                    </td>
                </tr>
            
       
        }
    </tbody>
</table>
</body>
</html>

