@model List<Record>
<link href="~/css/site.css" rel="stylesheet" />
<h2>My Records</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>Categories</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Date.ToShortDateString()</td>
                <td>@record.Title</td>
                <td>@record.Description</td>
                <td>@record.Categories</td>
                <td>@record.Url</td>
                <td>
                    <form asp-action="DeleteRecord" asp-controller="Record" method="post">
                        <input type="hidden" name="id" value="@record.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form asp-action="EditRecord" asp-controller="Record" method="get">
                        <input type="hidden" name="id" value="@record.Id" />
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>